[2015-12-15 11:56] ZKjellberg opened #1 "Crash caused by missing libopenalpr-native.so"
Testing your application and I am receiving a crash when submitting the image. This was tested using the Sample app source code from this repository on a Nexus 6 running Android 6.0.1.

[code]

[2015-12-15 11:59] ZKjellberg commented on #1
This error occurs when depending on the source within Android Studio, which is very awkward as the repo is structured as two seperate Android Studio projects with relative path references that didn't seem to work for me until I merged them into one project.

I also tested using the JitPack release and received the same error. I did have issues with the JitPack dependency as Android Studio could no

[2015-12-15 12:09] ZKjellberg commented on #1
Sample image used: https://commons.wikimedia.org/wiki/File:AZ_1950_license_plate.JPG

It appears the issue is related to how I am handling the dependency for the project with the missing **libopenalpr-native.so** binary.

[2015-12-16 01:49] SandroMachado commented on #1
Hey @ZKjellberg

About the jitpack import error. With the transitve syntax it should work... but looks like it is not working, so I updated the `README` of the project with your suggestion. Thanks

Can you please confirm that merging the project you didn't miss the assets folder in the sample application?

I also generated an `apk`[app-debug.apk.zip](https://github.com/SandroMachado/openalpr-andro

[2015-12-16 03:51] Bryanli910 commented on #1
Hi @SandroMachado

I just tried importing it straight from your master and the sample project you provided, I receive similar errors:

20187-22048/com.sandro.openalprsample E/AndroidRuntime﹕ FATAL EXCEPTION: AsyncTask #1
    Process: com.sandro.openalprsample, PID: 20187
    java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.sandro.openalprsample-2/b

[2015-12-16 09:06] ZKjellberg commented on #1
@SandroMachado I tested using your app-debug-apk.zip install. When I submit my picture, the application gets stuck on Parsing Result. In the logs, it appears there is an error.

[code]

Line 77 is the below item, oddly the variable **in** is labeled as never used.

[code]

Reviewing the application permissions, it appears the issue is you **never ask the user for permission to use their storage**.

[2015-12-16 09:11] ZKjellberg commented on #1
When compiling from the latest source code, I am still experiencing a crash searching for the binary:

[code]

[2015-12-16 09:24] ZKjellberg commented on #1
Regarding the APK you released, the failure for Parsing Result to advance is because you target SDK 23 which assumes you implement the new Android 6.0's permission system. I am pushing up code which should resolve this issue. Feel free to change the workflow.

[2015-12-16 23:19] SandroMachado commented on #1
Hey @ZKjellberg and @Bryanli910

I think I have finally found the issue. Can you please try again with the master latest code?

[2015-12-17 07:45] ZKjellberg commented on #1
Tested, application is now working. Thanks for the fix.

[2015-12-17 12:44] Lasek opened #4 "Crash during EU recognizing"
Hey,
I use sample application. I changed us to eu but app was crashed during plate recognizing.

[code]

Log:

[code]

[2015-12-17 14:26] ZKjellberg opened #5 "[Sample Application] Crash on Invalid Submission"
When the user takes a bad picture, no results are returned, resulting in a NullPointerException crash.

[code]

[2015-12-17 14:32] ZKjellberg opened #6 "[Sample Application] State Lost on Rotation"
If the user rotates the screen, the image & result will be lost. I suggest retaining the state of at least the TextView result.

If the user rotates the screen while the request is being processed, it will result in a NullPointerException crash. This is similar to #5 except this may actually still have valid data as it is delayed until the processing finishes.

[code]

[2015-12-17 20:56] SandroMachado commented on #1
Great! Thanks for the help!
I will make a release with this fix.

[2015-12-17 21:07] SandroMachado commented on #1
Closed by [1.0.1](https://github.com/SandroMachado/openalpr-android/releases/tag/1.0.1).

[2015-12-17 21:07] #1 closed, assigned to nobody

[2015-12-17 21:08] SandroMachado commented on #4
Probably this is related to #1and should be fixed now, can you please test with the version [1.0.1](https://github.com/SandroMachado/openalpr-android/releases/tag/1.0.1)?

[2015-12-18 12:51] Lasek commented on #4
I tested with 1.0.1 version. Issue still exists.

[2015-12-18 14:35] jrocharodrigues commented on #4
I have the same issue

[2015-12-19 20:09] SandroMachado commented on #5
Closed by https://github.com/SandroMachado/openalpr-android/commit/e1037941f4f7dba1bd74ef24b0833ccfd8fd6e18

[2015-12-19 20:09] #5 closed, assigned to nobody

[2015-12-19 20:16] SandroMachado commented on #4
I tried with a Portuguese licence plate and it worked as expected (please check the screenshot above).

Probably the problem was that the library was not able to recognize any licence plate in the picture. I improved the sample application (https://github.com/SandroMachado/openalpr-android/commit/e1037941f4f7dba1bd74ef24b0833ccfd8fd6e18) to display a toast instead of crashing when the library is n

[2015-12-19 20:16] #4 closed, assigned to nobody

[2016-01-05 21:15] SandroMachado commented on #6
Closed by #7.

[2016-01-05 21:15] #6 closed, assigned to nobody

[2016-01-13 10:11] JerzyPuchalski commented on #4
Same issue here with v1.1.0.

Same picture works with "us" and doesn't with "eu". Tested with sample app on two different devices.

Fortunately I was able to get rid of this SIGSEGV! All i did was adding the new folder in assets of the library: main/assets/runtime_data/keypoints/**eu** I also copied there one of the files from "us" folder.

Already made few tests that were producing the crash befo

[2016-01-13 19:27] SandroMachado commented on #4
Fixed by #9.

[2016-01-27 05:20] kykm1307 opened #12 "[x86 Architecture] The system is crashing after take picture"
Hi, the application is crashing everytime after I take picture and select it. Below is the log cat of it. It crash even with the sample apk downloaded. Any solution for it. Thanks.

[code]

[2016-01-27 22:01] SandroMachado commented on #12
@kykm1307 can you please specify the device you are using to try the application?
I this can be related somehow with the #1.

[2016-01-28 10:33] JerzyPuchalski commented on #12
I suppose it's a problem between the architecture the lib was compiled for and your device's architecture. Knowing the device model might help.

[2016-01-28 12:36] kykm1307 commented on #12
@JerzyPuchalski im using asus zenfone 5 and android 4.4.2 version. And i compile using android studio

[2016-01-29 00:43] SandroMachado commented on #12
@kykm1307 I think @JerzyPuchalski is right, `Asus Zenfone 5` is `x86 architecture`, unfortunately the library is only compiled to `ARM`.

[2016-01-29 00:52] kykm1307 commented on #12
@SandroMachado what u mean is it related with architecture of the processor?

[2016-01-29 00:53] SandroMachado commented on #12
Yup

[2016-01-29 00:56] kykm1307 commented on #12
@SandroMachado ok. Then any way that i can fix this?

[2016-01-29 09:34] JerzyPuchalski commented on #12
@kykm1307 would need to compile all libs from [this folder](https://github.com/SandroMachado/openalpr-android/tree/master/app/src/main/jniLibs/armeabi-v7a) on x86. Seems doable @SandroMachado?

[2016-01-29 10:53] SandroMachado commented on #12
It is not easy to compile the openalpr. I will need to configure the whole environment to be able to generate the x86.

[2016-01-29 11:04] kykm1307 commented on #12
I believe so. But even i use other mobile device. When the first time i run it and snap picture, it will crash too. Second time onward will work fine unless i rotate the screen in middle of recognizing. Btw, did u guys come across with anpr? It is same with this?

[2016-01-29 23:11] SandroMachado commented on #12
The rotate issue is not related with this one and I thought it was fixed by #7, looks like it is not. But this is just a demo app, that issue is not related with the library.

Can you past here the crash log of the first time you take a picture?

[2016-02-01 18:20] imaNNeo opened #13 "library "libopencv_java.so" not found"
hi,
i have thisissue , please help me

`02-01 21:34:54.761 7599-7599/com.neo.testopencv E/linker: soinfo_link_image(linker.cpp:1652): could not load library "libopencv_java.so" needed by "libopenalpr-native.so"; caused by load_library(linker.cpp:759): library "libopencv_java.so" not found
02-01 21:34:54.761 7599-7599/com.neo.testopencv E/dalvikvm: dlopen("/data/app-lib/com.neo.testopencv-2/libopen

[2016-02-01 18:30] #13 closed, assigned to nobody

[2016-02-01 18:31] imaNNeo opened #14 "library "libopencv_java.so" not found"
hi, i have this issue,
anyone can help me???
`opencv E/linker: load_library(linker.cpp:759): library "libopencv_java.so" not found
02-01 22:00:18.204 11789-11789/com.neo.testopencv E/linker: soinfo_link_image(linker.cpp:1652): could not load library "libopencv_java.so" needed by "libopenalpr-native.so"; caused by load_library(linker.cpp:759): library "libopencv_java.so" not found
02-01 22:00:18.20

[2016-02-01 21:59] SandroMachado commented on #14
@imaNNeoFighT which device are you using?

[2016-02-02 06:22] imaNNeo commented on #14
huawei honor 3c u10,
of course i don't inistall  openCv in my computer ,
it can related to this???

[2016-02-02 11:14] junruitao opened #15 "libopenalpr-native.so & libopencv_java.so"
Hi

What version are those lib?
The return of openALPR.version() is "1.1.0". Does this mean the version of openALPR is 1.1.0?

Thanks.

[2016-02-03 23:01] SandroMachado commented on #15
No, that version is the version of this library. Not the version of the `openalpr` imported by this library. The version of the `openalpr` is 1.2.0.

[2016-02-03 23:01] #15 closed, assigned to nobody

[2016-02-03 23:04] SandroMachado commented on #14
No, you computer configuration is not related with this issue. Did you tried with the demo app at the [releases](https://github.com/SandroMachado/openalpr-android/releases/tag/1.1.1) tab?

[2016-02-03 23:28] JerzyPuchalski commented on #14
Seems this device is running Android 4.2 and according to this [StackOverflow answer](http://stackoverflow.com/questions/28806373/android-4-2-ndk-library-loading-crash-load-librarylinker-cpp750-soinfo-l/28817942#28817942) it might be needed to additionally load opencv library explicitly.

[2016-02-03 23:34] SandroMachado commented on #14
Yeah, that could be the issue. At this moment I am only loading the [`openalpr-native` module](https://github.com/SandroMachado/openalpr-android/blob/0d6717a4b8b8bf923b5829bfabfb74d540a14950/app/src/main/java/org/openalpr/AlprJNIWrapper.java#L9).

[2016-02-04 05:39] imaNNeo commented on #14
@SandroMachado i downloaded sample apk and when i take picture,
i get ForceClose.

[2016-02-04 11:47] SandroMachado commented on #14
That is a known issue. At the second time it should work if is not related to any other missing configuration. Can you please test it again?

[2016-03-07 19:51] dzordz55 opened #16 "Failed to resolve: com.github.SandroMachado:openalpr-android:1.1.0"
Hi,
I have a problem with adding library in gradle. I get error:
`Failed to resolve: com.github.SandroMachado:openalpr-android:1.1.0`

My project build.gradle:
`...
allprojects {
    repositories {
        jcenter()
        maven { url "https://jitpack.io" }
    }
}...
`
and module build.gradle:

`dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    testCompile 'junit:junit:4.1

[2016-03-08 21:23] SandroMachado commented on #16
Hey @dzordz55,

can you please test it again? It is working here.
Looking for your configuration I don't find any bug...
But if you want, it is possible to double check the configurations here: https://jitpack.io/#SandroMachado/openalpr-android/1.1.1

[2016-03-09 15:20] dzordz55 commented on #16
I added library manually and it is working nice. I was using configuration like on jitpack.io.

[2016-03-09 21:17] SandroMachado commented on #16
Thanks for the feedback.

[2016-03-09 21:17] #16 closed, assigned to nobody

[2016-03-31 04:42] ArunkarthickNallasamy opened #17 "No module found"
I imported openalpr-android into android studio but i don't find any module to run! How to configure it and run the sample in android studio!! I'm using android studio 2.1 preview 4!! If its silly I apologies but help me Please!!

[2016-04-03 17:23] SandroMachado commented on #17
Hi @Arunkarthicknallasami,

you need to open the android studio from this directory: https://github.com/SandroMachado/openalpr-android/tree/master/Sample/OpenALPRSample to run the sample.

Please let me know if this works for you.

If you just want to check the sample, you can find the sample `APK` at the releases tab.

[2016-04-11 09:05] ArunkarthickNallasamy commented on #17
Thank you its working!! I have one more doubt, Is it possible to recognize data with video stream instead of processing image after taking picture. If its not subjected to be asked over the issue coloumn i can email you my doubts.

[2016-04-11 09:49] SandroMachado commented on #17
Unfortunately not, the library is only prepared to deal with static images.

[2016-04-11 09:49] #17 closed, assigned to nobody

[2016-04-13 06:42] LosDanieloss opened #18 "Pass image as byte array not as file path"
Hi,

Have you consider adding to your library possibility to pass image not as file path but using byte array? I am asking because I think that could speed up processing time in combination with own camera implementation.

Regards,
Daniel

[2016-04-13 06:45] LosDanieloss opened #19 "Multiple architecture"
Hi,

As far as I get it now only armeabi-v7a is supported. Is it possible to use your library with other architecture?

Regards,
Daniel

[2016-04-17 17:20] SandroMachado commented on #18
Hi @LosDanieloss,

unfortunately not. My library is based on the [OpenALPR](https://github.com/openalpr/openalpr) and they only expose methods to pass the path of the image (https://github.com/SandroMachado/openalpr-android/blob/master/app/src/main/java/org/openalpr/AlprJNIWrapper.java).

Regards,
Sandro Machado

[2016-04-17 17:23] #18 closed, assigned to nobody

[2016-04-17 17:27] SandroMachado commented on #19
Hi @LosDanieloss,

it is not easy to compile the `OpenALPR`. I am trying to convince the owner of the `OpenALPR` project to include the android binaries for each new release of the `OpenALPR` you can check the following [issue](https://github.com/openalpr/openalpr/issues/273).

Regards,
Sandro Machado

[2016-04-19 06:44] muralidharan-murugan opened #20 "How to pass multiple country code?"

[2016-04-19 16:46] SandroMachado commented on #20
It is not possible.

[2016-04-19 16:46] #20 closed, assigned to nobody

[2016-05-03 07:48] jamiejin opened #21 "seems couldn't recognize words?"
may i know this lib only recognize License? could recognize other words? and when i take picture with this "3SAM123", it prompts "it was unpossible to detect the lincence plate".

[2016-05-03 22:22] SandroMachado commented on #21
Hi @jamiejin,

no, it only works with license plates from US and EU.

Regards

[2016-05-03 22:22] #21 closed, assigned to nobody

[2016-05-04 01:18] jamiejin commented on #21
okay, note, thanks SandroMachado.

[2016-06-09 07:37] Aman91Goyal opened #29 "issue in changing package name"
HI,
I need to change the package name, i have successfully compiled it and added in my project.
But when i am changing package name it gives me error in initializing OPEN ALPR. Now i am trying to create the .so file, but i am not able to find .cpp and Android.mk files in this project to generate .so files .
Please share link for files, it will be helpful for me.
TIA.

[2016-06-10 04:29] Aman91Goyal commented on #29
Hi Sandro,

Actually, i have implements same library in our project, i have added application Id specified in Gradle. If i am changing application id OPEN ALP is not initializing. As per my understanding, if i will keep same application id, my application will not be deployed on play store as their must be a App with same application id.
com.sandro.openalprsample

Please suggest me how i can use t

[2016-06-13 08:28] vitaliibudnyi commented on #12
@JerzyPuchalski I thought that x86 devices can handle armeabi, armeabi-v7a and x86 ABIs. Perhaps there is another reason.

[2016-06-14 21:39] SandroMachado commented on #29
Hi @Aman91Goyal,

can you please be more specific? Are you trying to change the package name of the library? Or of the demo project? Did you follow the steps at the `readme`of the project to add the library to your project?

Regards

[2016-06-14 21:41] SandroMachado commented on #14
Closed without support to reproduce.

[2016-06-14 21:41] #14 closed, assigned to nobody

[2016-06-15 04:30] Aman91Goyal commented on #29
Hi **Sandro**,

I am not changing the package name of library. As you know in android studio, you gave application id which is **com.sandro.openalprsample**.

I have successfully set up library in my demo and changed the package name of my launcher activity. Launcher activity is same where i am opening camera and scanning image. In my demo i have only one activity.

But now issue is, in gradle fil

[2016-06-15 09:05] SandroMachado commented on #29
Hi @Aman91Goyal,

did you update the `ANDROID_DATA_DIR` to match your new package name? Check this section: https://github.com/SandroMachado/openalpr-android#code

Please let me know if that works for your.

Regards

[2016-06-15 09:22] Aman91Goyal commented on #29
HI **Sandro**

I have initialize  `ANDROID_DATA_DIR= this.getApplicationInfo().dataDir;`

it will always get current package name.
/data/data/own package name

[code]

In above code if i will enter `com.sandro.openalprsample` as applicationid its working fine

[2016-06-15 22:16] SandroMachado commented on #29
Hi @Aman91Goyal,

did you also updated the path at the config [file](https://github.com/SandroMachado/openalpr-android/blob/master/openalpr.conf#L4)?

Regards

[2016-06-16 10:29] Aman91Goyal commented on #29
HI **Sandro**

Thank you so much. You saved my time.

[2016-06-16 10:29] SandroMachado commented on #29
Great! Thanks

[2016-06-16 10:29] #29 closed, assigned to nobody

[2016-08-07 08:43] alexeyvasilyev opened #30 "Move to OpenCV 3.x"
Version 1.1.1 of openalpr-android uses old OpenCV library 2.4.9 built on 2014-04-25. There are a lot of NEON optimizations in recent OpenCV 3x which should bring better performance to openalpr-android. Please update it to the latest stable OpenCV. OpenALPR should work with OpenCV 3 without any problem.

[2016-08-07 15:44] JerzyPuchalski commented on #30
OpenALPR "SHOULD" or "WORKS" with OpenCV 3 without a problem? Have you done any tests on this? Can you provide a compiled OpenALPR?

[2016-08-07 17:01] alexeyvasilyev commented on #30
Should
https://github.com/openalpr/openalpr/issues/131

[2016-08-18 23:10] SandroMachado commented on #30
@alexeyvasilyev check this: https://github.com/openalpr/openalpr/issues/273

[2016-09-29 20:13] badjano opened #31 "Support for Brazilian license plate"
Tried:

recognizeWithCountryRegionNConfig("br"...

but it did not work.

[2016-09-29 20:15] badjano commented on #31
Maybe this will help

https://www.google.com.br/search?q=placa+de+carro+en+ingles&safe=off&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjtoNbtprXPAhVFCpAKHZEvC7AQ_AUICCgB&biw=1920&bih=916#safe=off&tbm=isch&q=placa+de+carro&imgrc=pF41qFxNXAGQuM%3A

[2016-09-30 18:58] badjano commented on #31
I think you only need to add these:

https://github.com/openalpr/openalpr/tree/master/runtime_data/region

[2016-10-06 23:32] SandroMachado commented on #31
Hi @badjano,

Unfortunately, to support that data files I think it is required to compile a new version of openalpr. You can follow that discussion [here](https://github.com/openalpr/openalpr/issues/273).

Regards

[2016-10-21 11:39] mronnlun opened #32 "Openalpr is Apache 2.0 but original openalpr is AGPL 3.0. Which license affects me?"
If I want to use this library, which license affects me, only Apache 2.0 or is there actually a link to the original Openalpr that has AGPL 3.0 license?

[2016-10-25 00:40] SandroMachado commented on #32
You need to consider the licence of the parent project [openalpr](https://github.com/openalpr/openalpr). So if you want to use this library and if you use any feature of this library that uses the parent project you need to consider the licence Affero GPLv3 http://www.gnu.org/licenses/agpl-3.0.html.

[2016-10-25 00:40] #32 closed, assigned to nobody

[2016-11-12 14:52] hokascha opened #33 "How to recognize seperators?"
Is there a way to check for seperators like in german plates? Here's an example, the license plate detected is DNP666.

![image](https://cloud.githubusercontent.com/assets/2227323/20238594/471aac9e-a8ef-11e6-8976-0cae7697ea62.png)

In Germany, the left part of the plate is the region, in the example it's "DN". The right part can be one or two letters followed by 1 to 4 numbers. So, DN-P666 like in

[2016-11-21 22:43] VSecur opened #34 "How to use this library?"
Hello, what are the dependencies? How can I use your library in my Android Studio on Ubuntu / Linux? I've been researching a lot and it's very difficult to get something. If you can give me detailed instructions I will be very grateful.

[2016-11-23 00:46] SandroMachado commented on #34
@VSecur you just need to follow the instructions available here: https://github.com/SandroMachado/openalpr-android#usage

You can also check the sample app available here: https://github.com/SandroMachado/openalpr-android/tree/master/Sample/OpenALPRSample

[2016-11-23 00:55] SandroMachado opened #35 "Upgrade the dependency `Libpng library` to allow submission to `Play Store`"
The `openalpr` binary is compile with a version of `libpng`  that contains security vulnerabilities for users or allows the collection of user data without proper disclosure.

Every app submitted for the `Play Store` using the library will be rejected, due to the new validation process that checks if the application contains code that has vulnerabilities.

[2016-11-23 09:10] VSecur commented on #34
Do I need OpenALPR? I was seeing other issues and I realized that if you want to use for Brazilian boards I need to recompile.

[2016-11-23 10:51] SandroMachado commented on #34
Yup, the current version only supports US and EU.

[2016-11-23 11:26] VSecur commented on #34
So should I compile following these instructions (https://github.com/openalpr/openalpr/wiki/Android-compilation) and copy the runtime_data folder with the files to Brazilian boards? Are you not interested in including the Brazilian standard in your library?

[2016-11-23 12:42] SandroMachado commented on #34
Yes, you need to compile the library and move it to the `runtime_data` folder.

Yes, I really need to update to the latest version of openalpr, but unfortunately it is not easy and requires a lot of time. I also created an issue in the parent project to include the Android binaries for each release. You can do a `+1` in that issue, that will help a lot in the process of keeping this library sync w

[2016-12-17 14:31] diarmuidryan commented on #35
i have been trying to update opencv lib to 3.1 but am getting this error now dlopen failed: cannot locate symbol "_ZTVN2cv11_InputArrayE" with upgraded lib

[2016-12-20 23:21] thaiet opened #36 "I don't know why it doesn't work..."
Hi there!
Great project but I can't seem to get it to work...I always get a result of  {"error":true,"msg":"Error initializing Open Alpr"}.

In details,
My build.gradle (Project) contains the `allprojects {
    repositories {
        maven { url "https://jitpack.io" }
    }
}`

I have `compile 'com.github.SandroMachado:openalpr-android:1.1.1' ` in my dependencies in the build.gradle (module:app).

[2016-12-26 00:53] SandroMachado commented on #36
Can you try the demo `apk` at the releases tab? Just to check if the compiled `apk` works?

[2017-01-03 12:24] k3t0 opened #37 "Building problems. Duplicate entries in BuildConfig.class"
Dear Sandro,

thank you for putting this together. Unfortunately the build process fails for me for both release v1.1.1 and v1.1.0. I'm building with Studio 2.2.3 and JRE 1.8.0_76-release-b03-amd64 and try to run on
- Android 5.1 API 22 or on
- Android 7.1 API 25.
However, the *.apk files you released do work for me. So the problem should be on my side. Still I would appreciate and hope to get som

[2017-01-07 15:45] SandroMachado commented on #37
Hi @k3t0

Can you try to use in your project the `buildToolsVersion "23.0.1"`?

[2017-01-10 20:58] lopezzbelgium commented on #35
+1 tried to do this but gave up because this required a lot more time than I can spend on it at the time. Still no one who was able to build everything with the new opencv?

[2017-01-12 15:05] denizme opened #38 "Error"
Hi, I can speak a little English. I want to read the plate from Android application.

I'm getting an error. Test phone: LG-L90 Android: 5.0

**Error:**

[code]

Codes:

**Gradle:project**

[code]

**Gradle:Module**

[code]

**MainActivity:**
`public class MainActivity extends AppCompatActivity {

    private static final int REQUEST_IMAGE = 100;
    private static final int STORAGE=1;
    private

[2017-01-18 12:17] k3t0 commented on #37
Dear Sandro,

thank you for your reply.

I'm trying to compile and run an unmodified version of your code. So, I was using `buildToolsVersion "23.0.1"`. I'm now trying to run on a Marshmallow system, but I get the same error.

If I simply build the project, all is well and it logs `build successful`. Once I try to run/build the apk, however, it exits with the error message shown above.

I understa

[2017-02-01 22:16] SandroMachado commented on #38
Hi @mehmetdniz

Try to disable the `InstantRun` feature and please let me know if it works.

Regards

[2017-02-02 10:15] denizme commented on #38
Hi @SandroMachado

Thank you for your interest. I solved the problem, but I have another problem. I want to reduce the processing time. Average reading speed 2 seconds, I want to read 1 second.

[screenshot](http://i.hizliresim.com/vXrRjO.jpg)

[2017-02-02 10:54] SandroMachado commented on #38
@mehmetdniz unfortunately that is not possible without changing the open alpr binary or improving the hardware.

[2017-02-02 10:54] #38 closed, assigned to nobody

[2017-02-05 21:32] mronnlun opened #39 "Can I specify country settings in openalpr.config"
Right now the settings are us and eu, and while I live in the eu and eu settings works ok for me, I wonder if I could specifiy a new country in openalpr.config with more detailed settings?

Additionally I wonder if I can specify the format of the license plate, because our format is ABC-123 and at the moment we see that the component sometimes detects O as 0.

[2017-02-06 00:07] SandroMachado commented on #39
Hi @mronnlun,

it is not possible to add other countries without compiling the binaries. And also it is not possible to change the format.

Regards

[2017-02-06 00:07] #39 closed, assigned to nobody

[2017-02-06 00:08] SandroMachado commented on #36
Closed due to inactivity.

[2017-02-06 00:08] #36 closed, assigned to nobody

[2017-02-20 13:14] denizme opened #40 "I'm getting an error"
Hi,
I get an error when I include the project.

**Log output:**  D/OPEN ALPR: {"error":true,"msg":"Error initializing Open Alpr"}

**gradle  :**

![screenshot 83](https://cloud.githubusercontent.com/assets/5129736/23126271/94e14cd4-f77e-11e6-9114-3c736245b14a.png)

**gradle:app:**
![screenshot 85](https://cloud.githubusercontent.com/assets/5129736/23126281/9f48708a-f77e-11e6-8ac4-ed316b50d02e.png)

[2017-02-21 10:56] SandroMachado commented on #40
Hi @mehmetdniz,

you need to change to your package name in the `openaplr.conf`.

![b329bd20-f77e-11e6-8460-2f747746d178](https://cloud.githubusercontent.com/assets/631739/23162015/4a166f26-f824-11e6-8fcd-a024f8871c05.png)

Did it fixed the issue?

[2017-02-21 11:05] denizme commented on #40
Hi, @SandroMachado

Thanks.  The problem improved.

[2017-02-23 21:24] #40 closed, assigned to nobody

[2017-02-28 16:08] wicheda commented on #35
Has anyone made any progress on this, I am struggling with the same problem.

[2017-03-03 09:29] davidpini commented on #30
Hi.. Are you planning to release a new version with OpenCV 3 ??

[2017-03-03 11:34] SandroMachado commented on #30
Hi @davidpini,

check this:  https://github.com/openalpr/openalpr/issues/273

I will try to compile it by myself, but it is not easy.

[2017-03-03 11:39] davidpini commented on #30
@SandroMachado thanks for trying.
I have already tried myself, but I found many errors.. I hope you will be luckier.

[2017-03-05 20:42] kevinjpetersen opened #42 "Error initializing OpenALPR"
I'm trying to use this in my Android App, everything compiles correctly and the files DOES exists in the APK. I confirmed this by doing a InputStream to the Config file and then read it. I could do that no problem.

These are my paths to my files, and then at the bottom it says the error.

![image](https://cloud.githubusercontent.com/assets/1038017/23591144/57067c04-01ec-11e7-9503-58b7fa9d086b.png

[2017-03-05 22:50] kevinjpetersen commented on #42
Appearently this method, doesn't actually work:

`OpenALPR.Factory.create(MainActivity.this, ANDROID_DATA_DIR).recognize(testImage, 10);`

Because when I change it to this:

`OpenALPR.Factory.create(MainActivity.this, ANDROID_DATA_DIR).recognizeWithCountryRegionNConfig("eu", "", testImage, openAlprConfFile, 10);`

It works like a charm

Closing.

[2017-03-05 22:50] #42 closed, assigned to nobody

[2017-03-06 08:50] SmartAppsAndroid opened #43 "Support for Indian Number Plates"
Hi ,
Thanks a lot for the source code provided. I have been trying it on the Indian Number plates but couldn't recognise the entire number plate number totally ,it is partially working on Indian number plates ,can you help me on this.

Here are some indian number plates examples :
[https://www.google.co.in/search?q=number+plate&espv=2&biw=1920&bih=963&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjrkZCxpMH

[2017-03-09 19:49] #35 closed, assigned to nobody

[2017-03-11 00:10] alexandre-leites opened #45 "Live capture and plate recognition"
Hi,

I would like to know how to use this library to recognize plates with live video capture. Can you provide some path or example on how to integrate that?

[2017-03-22 05:33] bipinbharti1357 commented on #36
hello still i have error

[2017-03-22 05:34] bipinbharti1357 commented on #40
still i have error can any one help me?

[2017-03-22 05:54] bipinbharti1357 commented on #31
how to use this for india?

[2017-03-22 05:55] bipinbharti1357 commented on #31
please can any one help me?

[2017-03-23 16:30] mercuriete commented on #14
I had the same issue:

it was fixed with this lines (the order is important):

[code]

when you execute the app in android 4.2 and prior android cannot understand where are the libraries and you have to register it manually.

I put these lines in onCreate of MainActivity.

So this is a real bug because in gradle you said:
[code]

if you want i can create a pull requet.

[2017-03-25 00:12] SandroMachado commented on #43
HI @SmartAppsAndroid,

this library is based in an old version of `openalpr` and only supports **USA** and **EU** licence plates.

[2017-03-25 00:14] SandroMachado commented on #37
@k3t0 you need to disable `instant run`. Can you please try it and give feedback?

[2017-03-25 00:14] #34 closed, assigned to nobody

[2017-03-25 00:14] SandroMachado commented on #31
@Robbypatel1357  see #43.

[2017-03-25 00:16] SandroMachado commented on #14
@mercuriete can you please make the PR?

[2017-03-27 12:48] bipinbharti1357 commented on #31
but where is a solution?

[2017-03-27 13:14] SandroMachado commented on #31
Probably #41.

[2017-03-29 12:28] bipinbharti1357 commented on #31
but still not getting solution plz help me?

[2017-03-31 08:13] ChenKuanYu opened #46 "Multiple targets recognization"
I had tested the openalpr project that could recognize multiple license plates. And I think the openalpr-android project which you made is also designed for that purpose. But after I tested you app, I could only get one results at most while the openalpr project get two in the same photo. Is that normal?

[2017-04-02 22:00] SandroMachado commented on #46
Hi @ChenKuanYu,

it should give more than one result. It can also be configured. Are using the same version of the openalpr in your other device that this library uses?

[2017-04-03 01:06] ChenKuanYu commented on #46
No, I use the 2.3.0 version for the openalpr project, and use 1.1.2 version for the openalpr android project. I can get some similar result for a single license plate, but can't get results from different license plates. Where can it be configured?

[2017-04-06 09:55] SandroMachado commented on #46
You cannot change that, and it does not makes sense comparing the results of two different versions. That is the reason for the difference in the results set.

[2017-04-06 09:55] #46 closed, assigned to nobody

[2017-04-08 13:30] DipuDipanshu commented on #31
ya,i hava the same issue....it's not working for indian number plates...
and i'm not getting any solution too.....
plzz have some attention on my issue....it will be a great help

thanks in advance

[2017-04-09 06:33] DipuDipanshu commented on #37
ya I'm getting the same error...in spite of following your all instruction

[2017-04-25 11:06] stevenbp opened #47 "Failed to resolve:com.github.SandroMachado:openalpr-android:1.1.2"
![screen shot 2017-04-25 at 13 03 01](https://cloud.githubusercontent.com/assets/4764326/25382400/bb12798a-29b7-11e7-8c8b-08f61926ea05.png)

How can I fix this error?

[2017-05-15 13:41] manet800 opened #48 "Israel settings"
Does anyone have settings for an Israeli license plate?

[2017-06-15 13:12] emingunes opened #50 "Error Initializing OpenALPR"
Why i'm getting this error?
![capture](https://user-images.githubusercontent.com/29453459/27182723-e358d8ee-51e4-11e7-82b2-2084f6568063.JPG)

[2017-06-19 22:11] android-dataticket commented on #45
this would be great to hear some input Sandro, whether it can be done or not

[2017-06-22 22:11] SandroMachado commented on #47
Add this to you main app `build.gradle`:

[code]

Check this: https://jitpack.io/#SandroMachado/openalpr-android/1.1.2

[2017-06-22 22:11] #47 closed, assigned to nobody

[2017-06-22 22:12] SandroMachado commented on #50
@emingunes this is an android app?

[2017-06-27 11:31] jzeferino opened #51 "Portuguese / European license plates recognition"
Hi there, im running the sample and I changed the:

`                    String result = OpenALPR.Factory.create(MainActivity.this, ANDROID_DATA_DIR).recognizeWithCountryRegionNConfig("us", "", destination.getAbsolutePath(), openAlprConfFile, 10);`

to

`                    String result = OpenALPR.Factory.create(MainActivity.this, ANDROID_DATA_DIR).recognizeWithCountryRegionNConfig("eu", "", dest

[2017-06-27 18:15] SandroMachado commented on #51
Hi @jzeferino,

You need to add the country in the second field of the method `recognizeWithCountryRegionNConfig`. Change your code to:

[code]

Please let me know if that works.

[2017-06-28 12:53] jzeferino commented on #51
Thank you for the reply @SandroMachado.

I've tested with `                    String result = OpenALPR.Factory.create(MainActivity.this, ANDROID_DATA_DIR).recognizeWithCountryRegionNConfig("eu", "pt", destination.getAbsolutePath(), openAlprConfFile, 10);
` and i'm taking photos with the fone from my monitor and I was unable to make it work. Not even one license plate.

Im using samsung galaxy edg

[2017-06-28 23:43] SandroMachado commented on #51
Using the demo app, I am getting this results:

![baconnjh47bsandromachado06292017004251](https://user-images.githubusercontent.com/631739/27665248-fb2a7dea-5c63-11e7-9f6a-cf1592e7d31e.png)

[2017-06-29 08:41] jzeferino commented on #51
@SandroMachado it still misses the `27` but, its better than here.
What did you changed in the sample?

[2017-06-29 08:55] SandroMachado commented on #51
What I said before:
[code]

So probably you are missing other thing, like correctly linking the library. What is the value of the response?

[2017-06-29 09:01] jzeferino commented on #51
@SandroMachado I just cloned the repo and run the sample with that changes above.

[2017-06-30 00:29] SandroMachado commented on #51
I have no ideia why it does not work. Don't you get any error? Just an empty set of results?

[2017-06-30 00:49] jzeferino commented on #51
@SandroMachado i'm getting the toast saying that nothing can be detected.

[2017-07-07 05:58] ThinkingXuan commented on #37
I'm getting the same error...in spite of following your all instruction too.

[2017-07-17 00:36] samlee92 commented on #31
Hi SandroMachado, for current android version of ALPR, after we copy in the training file, region, conf file and so on, how do we set it to use the country we want in the app? And do we need to recompile the openCV, Tessaract, and other binaries?

[2017-07-25 09:55] arnoldcoder commented on #51
Hi! I managed to make the sample application work, but some plate numbers have changed in Romania. The "default format" is "XX XX XXX" but since there are so many cars that the last 5 characters were not enough, there are also "XX XXX XXX". (the middle section from 2 to 3 digits). For ex: BH 09 KSR and BH 121 KSR. Could somebody help me to modify the configuration file?

There is only one situatio

[2017-07-25 19:50] jzeferino commented on #51
@arnoldcoder can you share what did you changed in the sample to make it work?

[2017-07-26 04:30] arnoldcoder commented on #51
I created a new android project, and followed the instructions from the project page. (adding dependencies in build.gradle, etc..) Then I copied the sample project's mainActivity and layout, resources, did the changes in AndroidManifest too... (pm your email, and I'll send you the code)

[2017-07-27 08:35] jzeferino commented on #51
@arnoldcoder is better to create a public repo for everyone interested.

[2017-08-01 17:52] wilsonhws commented on #51
@arnoldcoder Can you explain how to import the library?

[2017-08-01 18:29] wilsonhws opened #53 "Crash immediately after pressing the "Take Picture" button."
Hi, can you make a detailed tutorial about this openalpr library? I've been trying to import this lib to my project, but there's errors everywhere. Please help.

[2017-08-02 05:40] arnoldcoder commented on #53
I've just created a new project, added the dependencies and copied the sample project's Mainactivity. You also have to add WRITE_EXTERNAL_STORAGE permission to the AndroidManifest.xml file.

[2017-08-02 05:48] arnoldcoder commented on #53
If you are using Android Studio, you should have an error related to this permission miss.

Here is my sample working project
https://www.dropbox.com/s/920i716rgv2yud4/licence.zip?dl=0

[2017-08-02 05:49] arnoldcoder commented on #51
Have you added the WRITE_EXTERNAL_STORAGE permission to the Manifest file? Here is my demo project

https://www.dropbox.com/s/920i716rgv2yud4/licence.zip?dl=0

[2017-08-02 16:16] wilsonhws commented on #53
![image](https://user-images.githubusercontent.com/26358305/28883310-8fe0484c-77e0-11e7-9dce-7e66b0caf738.png)

@arnoldcoder Thanks for the dropbox link, but this is the error that I've been getting on my S7 edge. Is this the permission error you talked about?

[2017-08-02 17:13] wilsonhws commented on #53
@arnoldcoder Thanks, I've solved it by setting the target sdk version to 22.

[2017-08-03 00:00] SandroMachado commented on #53
Looks like the issue is fixed. I will close the issue, please let me know if I need to reopen.

[2017-08-03 00:00] #53 closed, assigned to nobody

[2017-08-09 15:37] Malcom100 opened #54 "belgium plate"
The application can't recognize the belgium plate ex. formta : 1-ABC-235.

Is there an issue for that ?
Someone can help me ?

Thanks

[2017-08-10 18:13] SandroMachado commented on #54
It should, can you please provide me an image?

[2017-08-15 18:10] MgBoggy opened #55 "ouldn't find "libopenalpr-native.so""
java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.example.xross.aicar-2/base.apk"],nativeLibraryDirectories=[/data/app/com.example.xross.aicar-2/lib/arm64, /vendor/lib64, /system/lib64]]] couldn't find "libopenalpr-native.so"

I found this error when the app run on Android version 5.0.But it certainly work in Android Version 4.4. How should i solve.

[2017-08-16 07:32] Malcom100 commented on #54
I am sorry to answer too late,
I solved my problem, I had to modify my runtime_dir in my file openalpr.conf with the good package name

[2017-08-16 07:32] #54 closed, assigned to nobody

[2017-08-21 12:59] mmelatti commented on #45
I've been working on this as well. Instead of starting a new camera activity to get an image, I basically created my own camera app that takes pictures within this project. I have this looping taking pictures, writing to disk, and sending the path to OpenALPR and getting a stream of JSON back. Technically it works but I have to stare at a license plate for up to 8 seconds before I get any useful d

[2017-09-12 10:47] Sumituppal-delhivery opened #56 "Support for indian number plate"
Hi @SandroMachado
I am stuck on indian number plates.
Can you please help me to solve this problem.

[2017-09-12 21:59] SandroMachado commented on #56
Hi @Sumituppal-delhivery.

this project only supports US and EU licence plates.

Regards

[2017-09-12 21:59] #56 closed, assigned to nobody

[2017-09-13 09:57] Sumituppal-delhivery commented on #56
@SandroMachado Can you please me guide me how can i do it for indian licence plates.

[2017-09-13 10:09] SandroMachado commented on #56
You need to check the parent project: https://github.com/openalpr/openalpr

[2017-09-14 11:36] albertaleksieiev commented on #45
@SandroMachado Actually you need to use openalpr library from C++ instead of using that "High level" interface. You need to retrieve image from camera -> convert it into OpenCV `cv::Mat`  instead of saving to disk(it's much faster!!!) -> and run recognition.

[2017-09-16 22:00] SandroMachado commented on #55
Are you using the demo app?

[2017-09-16 22:01] #50 closed, assigned to nobody

[2017-09-28 12:07] mj3c opened #57 "Recognition performance longer than "processing time""
Can anyone explain why does the call to `recognizeWithCountryRegionNConfig` return after 2.3 seconds even though the actual "processing time" the results return with is 0.66 seconds?

I tried with multiple images and the result always comes about 1.5 seconds or more later than the actual "processing time" that you can find in the result. Is the JNI call slow?

Here's an example of what I'm talking

[2017-10-25 14:42] Thonners opened #58 "Pattern matching templates"
Hi,

Great work so far :)

Just wondering if it is possible to provide templates for pattern matching, as described in the openalpr doc here:
http://doc.openalpr.com/opensource.html#pattern-matching

I've tried creating a postprocessing folder and eu.patterns, uk.patterns, gb.patterns (I'm trying to match UK number plates), but it never seems to match anything. I just get:

 for all results.

Than

[2017-10-27 14:08] hugows opened #59 "Can we get an apk for latest release"
I'd love to test this! Cheers.

[2017-10-30 15:28] souJd opened #60 "OpenCV Android - Cannot Resolve Corresponding JNI Function/No implementation found for"
I'm trying to build https://github.com/SandroMachado/openalpr-android for Android. It builds and launches, but after calling native method for recognizing it makes an exception. Thanks for your time and help!
The error
Caused by: java.lang.UnsatisfiedLinkError: No implementation found for java.lang.String be.mike.licenseplate.AlprJNIWrapper.recognizeWithCountryRegionNConfig(java.lang.String, java.

[2017-10-31 04:50] hafiz013 opened #61 "API Problem"
Hai there, this library not applicable for my country malaysia. When I change recognizeWithCountryRegionNConfig("ms", "", destination.getAbsolutePath(), openAlprConfFile, 30) the output textview not come out. Please consider to put my country. Thank  you.

[2017-11-27 01:09] Skeetfly opened #62 "Does it work with cyrillic fonts?"
I'm from Mongolia and i'm planning on using this. And i have to clarify something like does it work with cyrillic fonts, is it able to modify ocr with my own trained fonts etc..

[2017-12-01 12:49] SandroMachado commented on #62
Hi @Skeetfly,

No, it only works for licence plates from US and EU.

Regards

[2017-12-01 12:49] #62 closed, assigned to nobody

[2017-12-01 12:51] SandroMachado commented on #51
I think the issue is resolved. Please let me know if something changes.

[2017-12-01 12:51] #51 closed, assigned to nobody

[2017-12-07 07:29] raseribanez opened #63 "Why everything so cryptic - wheres apk format please? has been a nghtmare getting it packaged for testing on android"

[2017-12-20 05:48] Avinash01111992 opened #64 "Run time data"
Hi I'm trying to add some extra trained images example parking number plate template. i trained Parking number plate image using tensorflow framework  and i exported the out put trained model as **.pb** file format.
**My question is if i have trained .pb model file how can use or add  my own trained image (template) with existing Eu?
Is this possible to do this?

[2018-01-11 16:55] jenishkumar88 opened #65 "My app is always going in "it was not possible to detect the license plate""

[2018-01-22 00:20] SandroMachado commented on #65
Did you follow the configuration steps?

[2018-01-22 00:21] SandroMachado commented on #64
Hi @Avinash01111992,

I think it is not possible, but you should ask at the parent project: https://github.com/openalpr/openalpr

Regards

[2018-01-22 00:21] #64 closed, assigned to nobody

[2018-01-22 00:22] SandroMachado commented on #63
https://github.com/SandroMachado/openalpr-android/releases/tag/1.1.1

[2018-01-22 00:22] #63 closed, assigned to nobody

[2018-01-25 22:17] IPrototypeI commented on #65
Same for me I even test the demo app :( any suggestions ?
Device is Samsung S5

[2018-01-27 00:37] SandroMachado commented on #65
Did you test the apk available in the releases tab?

[2018-01-27 01:00] SandroMachado commented on #59
Done! Sorry for the delay.

[2018-01-27 01:00] #59 closed, assigned to nobody

[2018-01-27 01:00] SandroMachado commented on #55
Closed due to inactivity.

[2018-01-27 01:00] #55 closed, assigned to nobody

[2018-01-27 11:42] IPrototypeI commented on #65
I did and it works so fare with this numberplate
https://fiu-assets-2-syitaetz61hl2sa.stackpathdns.com/static/use-media-items/22/21303/full-1462x736/569736f3/ca2011-2.jpeg?resolution=0

But I have a Problem with this number plates even if I change the region to EU
https://hsvcmsroot-v.azureedge.net/fileadmin/user_upload/Bilder_HSV.de/Bundesliga/Verein/Nummernschild901x427.jpg

or

http://kreutzund

[2018-01-30 14:44] SandroMachado commented on #65
Can you please past here the code you change?

[2018-01-30 15:56] IPrototypeI commented on #65
I changed the code
recognizeWithCountryRegionNConfig("us", "", image.getAbsolutePath(), openAlprConfFile, 10);

To

recognizeWithCountryRegionNConfig("eu", "", image.getAbsolutePath(), openAlprConfFile, 10);

So only the parameter us to eu do you have any suggestions ?

[2018-02-19 09:29] NoumanBaig commented on #42
Hi,
I got this error while i changed to india in config file.what can i do for that?

[2018-02-19 22:46] yesidlazaro opened #66 "Colombian Plate license support"
Hi, thanks for your library
, do you know how to add support for Colombian plates

example
[https://www.pruebaderuta.com/wp-content/uploads/2016/03/placa-amarilla.jpg](url)

[2018-03-02 23:33] sungwook-moon commented on #60
Note that SandroMachado version calls JNI with different package name (org.openalpr vs com.openalpr.jni) and library name from the original openalpr. If you are somehow mixing these two, it won't work with the given exception. This repo specifially references uploaded binary SO under jniLibs folder so it may not work if the device is not a compatible architecture.

[2018-04-02 15:55] snooplsm commented on #45
I'm late to the game here but if you want to do realtime on the device you can use something less accurate like:

https://github.com/googlesamples/android-vision/tree/master/visionSamples/ocr-reader

[2018-04-16 21:08] catacor opened #67 "The result is empty string"
I don't know why, but the result is "" all the time.  I`m not getting any error on Factory.create and get GET operations takes 2 or 3 seconds to complete, so it works, but finally i`m getting just an empty string.

[2018-05-11 09:52] pedrolaranjeiro commented on #37
I had a similar issue. My project had a library module and I had the same package name for both app and library. This was creating the conflict. After I change the library name in the AndroidManifest, it compiled.

[2018-05-28 16:01] christophermaster commented on #1
Hey @SandroMachado
I have a problem with the last version of your example project, it shows me the following error.

 couldn't find "libopenalpr-native.so"

How can I solve this error?

`E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
                  Process: com.sandro.openalprsample, PID: 3068
                  java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file

[2018-05-29 16:18] seanmack56 opened #68 "Issue With reading the Plate letter/numbers"
Hey,
I tried to implement this into a project and i have had in issue with actually getting it to give me a value of what the license plates characters are. I get this when i debug for the value of result. result={"error":true,"msg":"Error initializing Open Alpr"}. I am not sure of what the issue is. I tried using your sample project and it reached the same issue. Attached is a screenshot of the c

[2018-06-03 01:20] umair-io commented on #65
@IPrototypeI Can you try taking the picture in landscape mode. For me, it only does recognition on landscape pictures and not on portrait. @SandroMachado Is this by design? Is it possible for the app to recognize plates from portrait images by changing the config file? Thanks

[2018-12-13 09:44] yoX64 commented on #12
I don't know if it's related to the architecture, but I can confirm that the app is crashing after the image is processed.

Additional info:
- Android 5.0.1
- Samsung S4

Error:
`12-13 11:45:22.410 29107-29107/com.sandro.openalprsample E/WindowManager: android.view.WindowLeaked: Activity com.sandro.openalprsample.MainActivity has leaked window com.android.internal.policy.impl.PhoneWindow$DecorView

[2018-12-13 22:28] vitaliibudnyi commented on #12
Architecture for sure. I clearly remember how the same .apk worked out on one device (something like Sony Xperia with Qualcomm processor) and crashed during loading native libs on the other (Alcatel One Touch POP C5 with MTK). Despite both were ARMv7.

[2019-01-17 00:49] collinspeight commented on #65
@umair-io @IPrototypeI If the issue is only while taking pictures in portrait mode for you, there is a known bug with the MediaStore.ACTION_IMAGE_CAPTURE on some devices where the image is rotated after being taken. If an image is rotated incorrectly before being fed into OpenALPR, you will not get proper results back.

[2019-02-02 13:39] mehulTank commented on #37
i am getting same issue my version is 28 how can i solve this i have add already added multidex but still not working

[2019-02-06 18:59] Jaymin97 opened #69 "couldn't find "libopenalpr-native.so""
Followed tutorial given but keep getting this error. Have tried looking at other issues posted her with same problem but to no avail. The directory I've given is the one where the project is saved and I've put the conf file in the correct place with the runtime_dir as the project directory. Not sure what the problem could be.

Full error:

    --------- beginning of crash
2019-02-06 18:59:17.365 2

[2019-02-16 16:24] collinspeight commented on #69
I have the same issue, however, for me the issue only occurs when I add "implementation 'org.tensorflow:tensorflow-lite:+'" to my app build.gradle dependencies.

[2019-02-16 16:25] collinspeight commented on #69
@SandroMachado it looks like you found the solution to this error back in 2015. Do you still remember what the cause was?

[2019-02-16 16:52] Jaymin97 commented on #69
@collinspeight do you mind walking me through exactly how you got the basics to work. At the moment I've followed all the steps (not sure if I'm doing so correctly) and I keep getting this error. I would greatly appreciate your help.
Thanks

[2019-03-01 22:17] android-dataticket commented on #69
i solved the issue by adding this to my apps gradle:

`android {
    defaultConfig {
        ndk {
            abiFilters "armeabi-v7a"
        }
    }
}`

[2019-03-02 15:12] Jaymin97 commented on #69
@android-dataticket Thanks for your reply, I added this and synced the gradle files however, when trying to run on emulator I get the following error and the emulator cannot start:
"device supports x86 but apk only supports armeabi-v7a"

Would appreciate any further help, thanks

[2019-03-02 15:15] collinspeight commented on #69
@Jaymin97 The default Android emulator uses the x86 architecture, however because abiFilters is setting the supported architecture to armeabi-v7a, it will no longer work. You can create a new virtual device with the armeabi-v7a architecture in Android studio, however this emulator will run incredibly slow. I would recommend developing with an actual Android device as almost all of them utilize the

[2019-03-02 15:37] Jaymin97 commented on #69
@collinspeight Thanks for your reply, tried running it on my android device and it does work however I get the following error after trying to print this line :

String result = OpenALPR.Factory.create(MainActivity.this, ANDROID_DATA_DIR).recognizeWithCountryRegionNConfig("us", "", image.getAbsolutePath(), openAlprConfFile, 10);

Prints this : {"error":true,"msg":"Error initializing OpenAlpr"}

[2019-03-02 15:44] Jaymin97 commented on #69
@collinspeight Sorry, I have now solved the above error, however the String 'result' does not contain any value.

[2019-07-04 07:37] AmritanshuAVerma commented on #1
hi,
The project compiled successfully but run i get the following error,

OpenALPR: Couldn't create instance of OpenALPRFactory because of following error: dalvik.system.PathClassLoader[DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar", zip file "/data/app/com.github.Lildan.openalpr-4o1CQODavsPU9KY6jOwpcA==/base.apk"],nativeLibraryDirectories=[/data/app/com.github.Lildan.op

[2019-07-04 18:54] AguGriguol opened #72 "openalpr-android for x64 architectures"
Hi @SandroMachado!

Do you have openalpr libraries for x64 architectures (arm64, x86_x64, mips64)? Google needs to upload apks in 64 bits.
This is a great limitation, please we need the new libraries.

Thanks @SandroMachado.

[2019-09-15 12:32] WilianZilv opened #73 "Support for Mat instead of file path"
Saving a file and then reading it is consuming a lot of processing time.

[2019-09-20 18:46] paulosilvaads opened #74 "real time"
é possivel utilizar com a camera em real time em vez de fotos ?

[2019-09-26 08:51] ArthurAttout opened #75 "Which version of OpenALPR was 'libopenalpr-native.so' build upon ?"
` readelf -Ws libopenalpr-native.so` shows
[code]

However, those functions do not appear when building OpenALPR into a shared object. Also, the name of the library is rather `libopenalprjni.so` or `libopenalpr.so` but never `libopenalpr-native.so`.

Is that some kind of custom build ?

[2019-09-26 15:43] orielg commented on #75
@ArthurAttout It seems that [this](https://github.com/sujaybhowmick/openalpr-droidapp-native) is the build used.

[2019-10-01 18:44] lhmathias opened #76 "What version was used of Android Studio?"
Which view was used to create the app in Android Studio?

[2019-11-07 17:08] rahul98765 opened #77 "Detect/Recognize number plate in short distance"
Hi

I am using openAlpr - OpenAlprDroidApp-master

Its works for long distance cars but when i take photo in short distance like 1 meter to 1.5 meter it gave not able process the image.

i have used country - eu
What are changes required D:\Personal\WorkArea\2019\OCR\Android\ANPR\OpenAlprDroidApp-master\app\src\main\assets\runtime_data\openaple.conf file
or anyother changes in any conf file.

And

[2019-11-28 12:54] wicheda commented on #72
Firstly thanks for a great library and all the work on it.

I'm in the same position as @AguGriguol , I've spent a couple of days now building various versions of the libopenalpr.so file from scratch but can't get any to work.

It means a major app I have can't be updated since Google won't accept the old 32 bit library. Any thoughts @SandroMachado ?

Thanks,

Daniel.

[2019-12-27 12:24] naishadh-logistic commented on #68
I am getting same issue. can you please provide solution if you have? thanks.

[2020-02-04 16:43] Nikola-Milovic commented on #77
How did you get the project to run properly? What steps have you taken, or if its not a commercial product can you share your project? I am doing a school project and cannot get the library to run properly...

[2020-04-12 03:06] Dreamskya opened #78 "Does it support license plate recognition in Singapore?"

[2020-04-14 12:33] find-name-brent commented on #68
I am also getting the same issue even with the example project with no changes.  The app crashes whenever I take a picture of a license plate, but just gives me an error message if it's just a picture of a blank wall or something.

[2020-05-16 19:36] walcoll72 opened #79 "Cannot evaluate module OpenALPR"
Hello!
I want to test this project by using sample project.
but i can't solve below error..
plz help me.
Caused by: org.gradle.api.UnknownProjectException: Cannot evaluate module OpenALPR : Configuration with name 'default' not found.

[2020-07-16 12:50] spalanci commented on #1
Maybe it's late. Let me write it anyway.

I think it gives error for 64 bit. So add defaultconfig to build.gradle -> ndk {abiFilters "armeabi-v7a"}

But you will only get a 32 bit apk

[2020-08-04 15:12] AmritanshuAVerma commented on #1
Thanks for the reply,

You did good work on the library ,I appreciate it.

Regards,
Amritanshu.Verma

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Soner PALANCI<mailto:notifications@github.com>
Sent: 16 July 2020 18:20
To: SandroMachado/openalpr-android<mailto:openalpr-android@noreply.github.com>
Cc: Amritanshu Verma<mailto:amritanshu.verma@outlook.com>; Com

[2020-09-22 22:20] AlexandreMeslin opened #80 "Sample App does not recognize (detect) plates"
Hi Sandro, first of all, thanks for your OpenALPR project and for making it open and free!

And hi all also!

I downloaded the full project, and now I'm trying to use the sample as it is. I had some problems compiling the sample, and I had to make some changes:

1. File gradle-wrapper.properties, I change the distributionURL:
`distributionUrl=https\://services.gradle.org/distributions/gradle-4.1-r

[2020-10-29 05:56] prashantsaini1 commented on #72
Same here. Looking for 64-bit libraries support or any guide to create them manually.

[2021-04-08 17:29] alitele commented on #72
Anyone got help regarding building 64bit APKs google playstore ?

[2021-04-08 17:31] alitele commented on #1
Anyone successfully generated 64bit APK yet? Please help . Thanks

[2021-06-09 14:08] AbhishekHirapara opened #81 "This library So file is not available in 64 bit, please help with new support."
However this libraries are not 64bits. Libraries are coming from other repos that are not maintained any more. In order to get rn-openalpr working with 64 bits somebody need to compile new libraries. We need this library in 64 bit can you provide us to make it compatible with Playstore?
Reference link: https://developer.android.com/distribute/best-practices/develop/64-bit